# SF Löhne Übung

Willkommen zurück zu einer kleinen Übungseinheit zur Datenanalyse mit Pandas. Wir werden dafür den [Lohndatensatz von San Francisco](https://www.kaggle.com/kaggle/sf-salaries) nutzen, der auf Kaggle bereitgestellt wird. 

Folgt dem Notebook und bearbeitet die **Aufgabenstellung** der Reihenfolge nach.

**Aufgabe 1:** Importiere pandas als pd.

In [ ]:
### CODE HERE ###

In [ ]:
### TEST HERE ###
import sys

modulename = "pandas"
if modulename not in sys.modules:
    print("You have not imported the {} module".format(modulename))
else:
    print("You have imported the {} module".format(modulename))

**Aufgabe 2**: Lese Salaries.csv als Dataframe mit dem Namen `sal` ein. Achte darauf, den richtigen Index zu geben.

**Hinweis:** Die Datei *Salaries.csv* als liegt im diesem Übungungsheft anbei. Wenn du diese von Kaggle herunterlädst, dann muss du die Daten noch etwas anpassen.

In [ ]:
### CODE HERE ###

In [ ]:
### TEST HERE ###
columns = [
    "EmployeeName",
    "JobTitle",
    "BasePay",
    "OvertimePay",
    "OtherPay",
    "Benefits",
    "TotalPay",
    "TotalPayBenefits",
    "Year",
    "Notes",
    "Agency",
    "Status",
]

if (
    type(sal) == pd.core.frame.DataFrame
    and sal.shape == (148654, 12)
    and set(sal.columns).issubset(set(columns))
):
    print("Test successful")

**Aufgabe 3**: Sieh dir den *head* des Dataframe an.

In [ ]:
### CODE HERE ###

**Aufgabe 4** Sieh dir die letzten 10 Einträge des Dataframes an.

In [ ]:
### CODE HERE ###

**Aufgabe 5:** Welche Spalten hat das Dataframe? Gib die Spalten in einer Liste wieder und nenne diese `sal_columns`!

In [ ]:
### CODE HERE ###

In [ ]:
### TEST HERE ###
if set(sal_columns).issubset(set(columns)):
    print("Test successful")

**Aufgabe 6**: Speicher den Index in der Variable sal_index a

In [ ]:
### CODE HERE ###

In [ ]:
### TEST HERE ###
import numpy as np

index = np.arange(1, 148655, 1)

if set(sal_index).issubset(set(index)):
    print("Test successful")

**Aufgabe 7:** Zeige die *shape* des Dataframes an

In [ ]:
### CODE HERE ###

**Aufgabe 8:** Welche Datentypen (dtypes) hat das Dataframe? Speichere diese in `sal_dtypes` ab.

In [ ]:
### CODE HERE ###

In [ ]:
### TEST HERE ###
if list(sal_dtypes)[4] == "float64" and list(sal_dtypes)[10] == "object":
    print("Test successful")

**Aufgabe 9**: Nutze die `info()` Methode, um herauszufinden, wie viele Einträge es gibt und ob es vielleicht Dopplungen geben könnte.

In [ ]:
### CODE HERE ###

**Aufgabe 10:** Nutze die `count` Funktion und vergleiche die Ergebnisse pro Spalte mit der `info` methode. Speichere das Ergebnis unter dem Variablennamen `sal_count`.

In [ ]:
### CODE HERE ###

In [ ]:
### TEST HERE ###
if sal_count[5] == 112491 and sal_count[9] == 0:
    print("Test successful")

**Aufgabe 10:** Wie viele Zeilen in der Spalte `Benefits` sind NaN-Einträge? Speichere das Ergebnisse in der Variable `sal_nan`.

In [ ]:
### CODE HERE ###

In [ ]:
### TEST HERE ###
if sal_nan == 36163:
    print("Test successful")

**Aufgabe 11:** Zeige pro Spalte die wichtigsten Kennzahlen wie count, mean, std, min, Quartile, max in einer Tabelle an.

In [ ]:
### CODE HERE ###

**Aufgabe 12:** Erstelle eine Tabelle mit allen Spalten in denen das 10%, 25%, 50%, 75%, und 95% Quantile angezeigt wird. Speichere die Tabelle unter `sal_quantile` ab.

In [ ]:
### CODE HERE ###

In [ ]:
### TEST HERE ###
overtime_pay_quantiles = [0.0, 0.0, 0.0, 4658.175, 27035.31249999997]

if set(list(sal_quantile["OvertimePay"].values)).issubset(set(overtime_pay_quantiles)):
    print("Test successful")

**Aufgabe 13:** Zeige die Gesamtzahl aller eineindeutigen Werte für alle Spalten an. Speichere das Ergebnis unter `sal_unique`.

In [ ]:
### CODE HERE ###

In [ ]:
### TEST HERE ###
unique_values = [110811, 2159, 109489, 65998, 83225, 98465, 138486, 142098, 4, 0, 1, 0]

if set(list(sal_unique.values)).issubset(set(unique_values)):
    print("Test successful")

**Aufgabe 14:** Schreibe alle eindeutigen JobTitle in eine Liste mit dem Variablennamen `jobTitles`. Gebe anschließend die ersten 10 Filme JobTitle in aus.

In [ ]:
### CODE HERE ###

In [ ]:
### TEST HERE ###
title_list = ["DEPUTY DIRECTOR OF INVESTMENTS"]

if title_list == jobTitles[6]:
    print("Test successful")

**Aufgabe 15**: Was sind die fünf häufigsten Jobs? Speichere nur die Jobtitle in einer Liste mit dem Variablennamen `common_jobs`.

In [ ]:
### CODE HERE ###

In [ ]:
### TEST HERE ###
com_j = [
    "Transit Operator",
    "Special Nurse",
    "Registered Nurse",
    "Public Svc Aide-Public Works",
    "Police Officer 3",
]

if set(common_jobs).issubset(set(com_j)):
    print("Test successful")

**Aufgabe 16**: Zeige die Anzahl der Null values pro Spalte auf. Speichere die Ergebnisse in Variable `sal_null_count`.

In [ ]:
### CODE HERE ###

In [ ]:
### TEST HERE ###
if (
    list(
        sal_null_count.iloc[
            2:3,
        ].values
    )[0]
    == 609
    and list(
        sal_null_count.iloc[
            5:6,
        ].values
    )[0]
    == 36163
):
    print("Test successful")

**Aufgabe 17**: Suche nach Kim Brewer und zeige die komplette Zeile im Dataframe.

In [ ]:
### CODE HERE ###

**Aufgabe 18:** Wie viele Duplikate gibt es beim EmployeeName? Summiere die Ergebnisse und sichere das Endresultat unter der Variable `duplicate_name_sum`.

In [ ]:
### CODE HERE ###

In [ ]:
### TEST HERE ###
if duplicate_name_sum == 37843:
    print("Test successful")

**Aufgabe 19:** Speicher alle Duplikate in einen neuen Dataframe mit dem Namen `sal_duplicates`. Spiele mit dem Parameter `keep` herum, was fällt dir auf? Nutze dazu gerne wieder die Mitarbeiterin Kim Brewer.

In [ ]:
### CODE HERE ###

**`[BEOBACHTUNGEN HERE]`**

**Aufgabe 20** Was ist das durchschnittliche Grundgehalt (en. BasePay)? Speichere das Ergebnis in der Variable `avg_basepay`.

In [ ]:
### CODE HERE ###

In [ ]:
### TEST HERE ###
if avg_basepay == 66325.44884050643:
    print("Test successful")

**Aufgabe 21:** Was ist der höchste Überstundenlohn (en. OvertimePay), der im Datensatz festgehalten ist? Speichere das Ergebnis in der Variable `max_otpay`.

In [ ]:
### CODE HERE ###

In [ ]:
### TEST HERE ###
if max_otpay == 245131.88:
    print("Test successful")

**Aufgabe 22:** Wie lautet die Berufsbezeichnung (en. JobTitle) von JOSEPH DRISCOLL?

*Achtung: Beim Namen nur Großbuchstaben verwenden!*

In [ ]:
### CODE HERE ###

**Aufgabe 23**: Wie viel verdient JOSEPH DRISCOLL (inkl. Zusatleistungen (en. Benefits))?

In [ ]:
### CODE HERE ###

**Aufgabe 24:** Wie heißt die höchstbezahlte Person (inkl. Zusatzleistungen)? Speichere den Namen in der Variable `best_pay`.

In [ ]:
### CODE HERE ###

In [ ]:
### TEST HERE ###
if best_pay == "NATHANIEL FORD":
    print("Test successful")

**Aufgabe 25**: Wie lautet der Name der am niedrigsten bezahlten Person? Fällt dir etwas Merkwürdiges an ihrem Lohn auf?

In [ ]:
### CODE HERE ###

**`[BEOBACHTUNGEN HERE]`**

**Aufgabe 26:** Wie ist der durchschnittliche (en. mean) Grundlohn (en. base pay) von allen Angestellten pro Jahr (2011-2014)? Speichere das Ergebnis in der Variable `avg_basepay_year`.

In [ ]:
### CODE HERE ###

In [ ]:
### TEST HERE ###
if avg_basepay_year.loc[2012] == 65436.40685742262:
    print("Test successful")

**Aufgabe 27:** Wie viele Berufsbezeichnungen (en. job titles) wurden 2013 von nur einer Person getragen? Speichere das Ergebnis in `unique_jobs_2013`.

*Hinweis: Haben nur eine Erscheinung in 2013*

In [ ]:
### CODE HERE ###

In [ ]:
### TEST HERE ###
if unique_jobs_2013 == 202:
    print("Test successful")

**Aufgabe 28 (Zusatzaufgabe):** Wie viele Angestellte tragen ein "Chief" in ihrer Berufsbezeichnung? Speichere das Ergebnis in `chef_jobs`.

*Hinweis: Das ist eine etwas schwierigere Aufgabe, nehmt euch etwas Zeit dafür.*

In [ ]:
### CODE HERE ###

In [ ]:
### TEST HERE ###
if chef_jobs == 477:
    print("Test successful")

**Aufgabe 29 (Zusatzaufgabe):** Gibt es eine Korrelation zwischen der Länge einer Berufsbezeichnung und dem Lohn?

In [ ]:
### CODE HERE ###

**`[BEOBACHTUNGEN HERE]`**

# Gut gemacht!